@charset "UTF-8";

#selectDiv {
		margin-bottom : 10px; 
	}
#taskStatus {
margin-bottom : 10px; 
}
.custom-select{
		width:200px;
	}
	
#content {
	padding: 30px;
}

#taskStatus {
	float: left;
	margin-right: 10px;
}


.invoice {
	padding: 20px;
	border-radius: 10px;
}

#GanttChartDIV {
	border : 1px solid lightgray;
}

.container-fluid {
	padding-left: 0px;
}